@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #273244;
}

body {
  background-image: url("../assets/asset-background.jpg");
  background-color: #273244;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

section#clients {
  > div {
    overflow: hidden;
    width: 100%;
  }
}